{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="bg-light p-5 rounded text-center">
		<h1>Bienvenue chez PROGICA</h1>
		<hr>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque autem rem deserunt earum fugit molestiae omnis, magnam, ducimus ullam nobis consectetur, facere distinctio? Praesentium expedita voluptate possimus eveniet pariatur magni.
								Facere, consectetur? Quo deleniti, vero enim distinctio repellendus sapiente aliquam, architecto iste accusamus iure voluptatibus minima voluptate eveniet, ut suscipit eaque. A illum odit laborum quidem. Non mollitia ut expedita!
								Eius animi dolorem repudiandae expedita iusto quibusdam qui fugit natus perferendis corrupti, iure aliquid sapiente excepturi nemo nulla cum saepe ducimus incidunt beatae voluptas veniam?</p>
	</div>
{% endblock %}
